@{
    ViewData["Title"] = "Budget";
}

<div class="text-center">
    <h1 class="display-4">Budget</h1>
    <p>Please try and create a new budget item</p>
    
    
    <table>
        <tr>
            <td><h4>Name</h4></td>
            <td><h4>Amount</h4></td>
            <td><h4>Priority</h4></td>
            <td><h4>Rise</h4></td>
            <td style="background-color: chocolate; border:none"></td>
            <td style="background-color: chocolate; border:none"></td>
        </tr>
    @if(Model.Mode == "load")
    {
        @foreach(Item x in Model.Budget.budget)
        {
            <tr>
                @if(x.Expense)
                {
                    <td style="background-color:red">@x.Name</td>
                }
                else
                {
                    <td style="background-color:green">@x.Name</td>
                }
                <td>@x.Amount</td>
                <td>@x.Priority</td>
                <td>@x.Rise</td>
                <td style="background-color: rgb(168, 90, 34)" onclick="@("window.location.href='" + @Url.Action("EditItem", "Budget", x) + "'");">Edit</td>
                <td style="background-color: rgb(168, 90, 34)" onclick="@("window.location.href='" + @Url.Action("DeleteItem", "Budget", x) + "'");">Remove</td>
            </tr>
        }
    }
    </table>
    <br />
    <table>
        <tr style="background-color:green">
            <td>Net Income:</td>
            <td>@Model.Budget.NetIncome()</td>
        </tr>
        <tr style="background-color:red">
            <td>Net Expenses:</td>
            <td>@Model.Budget.NetExpenses()</td>
        </tr>
        <tr>
            <td>Net Total:</td>
            <td>@Model.Budget.NetTotal()</td>
        </tr>
    </table>
    <button onclick="@("window.location.href='" + @Url.Action("NewItem", "Budget") + "'");">New Item</button>
</div>
